<h1>Aperte o botão que você mais se identifica emocionalmente</h1>
<strong>E veja um monte de nada acontecer...</strong>

<fieldset><br>
    <input type="button" value="Minha familia não me entende"><br><br>
    <input type="button" value="Odeio a minha sogra"><br><br>
    <input type="button" value="Pensando em terminar o namoro"><br><br>
    <input type="button" value="Queria estar saindo todo dia"><br><br>
    <input type="button" value="Chateada com as minhas finanças"><br><br>
    <input type="button" value="Bolando como gastar meu reu primario"><br><br>
</fieldset>


