<h1>Gostos pessoais</h1>
<fieldset>
    <h2>Em relação a comida, você prefere:</h2>
    <div>
        <label for="comida">Salgada</label>
       <input type="radio" name="comida" id="comida">
    </div>
    <div>
        <label for="comida">Doce</label>
        <input type="radio" name="comida" id="comida">
    </div>
    <div>
        <label for="comida">Azedo</label>
        <input type="radio" name="comida" id="comida">
    </div>
    <div>
        <label for="comida">Amargo</label>
        <input type="radio" name="comida" id="comida">
    </div>
    
</fieldset>
