/* You can add global styles to this file, and also import other style files */
body{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;

    height: 100vh;
    background-image: url(https://i.pinimg.com/564x/25/70/56/257056280eae5a019d108c54ec5d8bd1.jpg);

}